{%include "header.html" %}
<!DOCTYPE html>
<html>
<head>
    <title>Pomodoro Timer</title>
    <link href='/static/css/timer.css' rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
</head>
<body>
    <script>
        const focus_session = Number({{focus_session}});
        const short_break_duration = Number({{short_break_duration}});
        const long_break_duration = Number({{long_break_duration}});
        const isAuthenticated = {{ 'true' if current_user.is_authenticated else 'false' }};
    </script>
    
    <div class="container">
        <button class="buttons" id="short-break-btn" onclick="shortBreak()">Short Break</button>
        <button class="buttons" id="long-break-btn" onclick="longBreak()">Long Break</button>
        <button class="buttons" onclick="resetTimer()" id='focus' >Pomodoro</button>
        
        <h1>Pomodoro Timer</h1>
        <div id="timer"></div>
<button class="buttons" onclick="startTimer()" id="start">START</button>
    </div>
<script src="../static/js/script2.js"></script>
    
    
</body>
</html>

